<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <nav><a href="/products">INDEX</a><a href="/">HOME</a><a href="/products/id"></a></nav>
    <h1>EDIT</h1>
    
</body>
</html>