<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mongoose Store</title>
        <link rel="stylesheet" href=
        "https://necolas.github.io/normalize.css/7.0.0/normalize.css">
        <link rel="stylesheet" href="/styles.css">
        <script defer src="/app.js"></script>
    </head>
<body>
        <nav>
            <div class="show-nav">
            <a href="/">HOME</a>
            <a href="/products/new">ADD PRODUCT</a>
            </div>
        </nav>
    <h1>SALE!</h1>
        <div class="index-container">
        <% products.forEach((product)=>{%>
            <div>
                <div class="product-name"><%=product.name%></div>
                <a href="/products/<%=product._id%>"><img src="<%=product.img%>" alt="<%=product.name%>" class="index-a"></a>
            </div>  

       <% })%>
        </div>
</body>
</html>