/* main element styles */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
}
img{
    height: 250px;
    width: 250px;
    border: 5px solid #ad4ebb;
    padding: 7px;
}
a{
    margin-left: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 22px;
}
h1{
    text-align: center;
    text-transform: uppercase;
}

/* nav style */
nav{
    display: flex;
    justify-content: flex-end;
    background-color: #ad4ebb;
    height: 50px;
    width: 100%;
    align-items: center;
}
.show-nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
}

/* containers */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.container > *{
    margin: 10px;
}
.index-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

}
/* buttons */

.delete{
    background-color: #f66386;
    color: #fff; 
    border: 1px solid #fff;
    padding: 5px;
    font-size: 20px;
}
.positive{
    background-color: #652eff;
    color: #fff; 
    border: 1px solid #fff;
    padding: 5px;
    font-size: 20px;
}
/* text */
.product-name{
    text-align: center;
    font-size: 20px
}
/* images */
.edit-img{
    display: block
}

/* forms */
.form{
    width: 60%;
    margin: 0 auto;
    color: #ad4ebb
}