body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: #ad4ebb;
    height: 50px;
    width: 100%;
    align-items: center;

}
a{
    margin-left: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 22px;
}
ul{
    list-style-type: none;
}